In [836]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings

pd.options.display.max_columns = None

warnings.filterwarnings('ignore')

ABRIMOS EL TXT

In [837]:
data_txt = pd.read_csv('../datos/data_txt_clean.txt', sep= ';')
data_txt.head(2)

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN

In [838]:
#Borramos la columna 'index' puesto que no es necesaria
data_txt.drop('index', inplace = True, axis = 1)
data_txt.head(2)

,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN

In [839]:
data_txt.shape

(25973, 26)

ABRIMOS EL XML

In [840]:
data_xml = pd.read_xml('../datos/data_xml_clean.xml')
data_xml.sample(5)

       level_0  index  time    age gender
176        176    176   412  30-34    Man
24375    24375  24375   752  22-24  Woman
811        811    811   519  40-44  Woman
17583    17583  17583  1976  50-54    Man
9932      9932   9932   558  50-54    Man

In [841]:
data_xml.drop('level_0', inplace = True, axis = 1)
data_xml.drop('index', inplace = True, axis = 1)
data_xml.head(2)

   time    age gender
0   910  50-54    Man
1   784  50-54    Man

In [842]:
data_xml.shape

(25973, 3)

Como observamos que los 2 dataframes que son objeto de nuestro análisis tienen la misma longitud y cada longitud pertenece a un trabajador que ha respondido, decidimos unir todas las preguntas que han sido formuladas a cada usuario en un único dataframe y así trabajar con él.

In [843]:
df_unido = pd.concat([data_txt, data_xml], axis = 1 )
df_unido.head(2)

,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,time,age,gender
0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None,910,50-54,Man
1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN,784,50-54,Man

# EXPLORACION

Nuestro dataframe tiene más columnas de las que necesitamos para nuestro análisis, por tanto, eliminaremos las que no
necesitamos para tener un dataframe con las columnas que analizaremos

In [844]:
def eliminar_columnas(df):
    """
    Esta función elimina las columnas que no queremos tener en nuestro dataframe, puesto que no basaremos nuestro análisis en ellas
    Args: df
    df(dataframe):dataframe al que queremos aplicar la función
    """

    columnas_eliminadas = []
    patron = 'Q4|Q6|Q8|Q11|Q13|Q15|Q20|Q21|Q22|Q26|Q33|Q12|Q16|Q17|Q32|Q34|time|Q23|Q35'

    for col in df.columns:
        if re.findall(patron,col):
            columnas_eliminadas.append(col)
            
    eliminado = df.drop(columnas_eliminadas, axis=1, inplace = True)
    return eliminado

In [845]:
eliminar_columnas(df_unido)

In [846]:
col41 = data_txt[['Q41']]
col41

                                                     Q41
0      Local development environments (RStudio, Jupyt...
1        Advanced statistical software (SPSS, SAS, etc.)
2      Basic statistical software (Microsoft Excel, G...
3      Local development environments (RStudio, Jupyt...
4      Local development environments (RStudio, Jupyt...
...                                                  ...
25968  Business intelligence software (Salesforce, Ta...
25969                                                NaN
25970  Basic statistical software (Microsoft Excel, G...
25971                                                NaN
25972    Advanced statistical software (SPSS, SAS, etc.)

[25973 rows x 1 columns]

In [847]:
df = pd.concat([df_unido, col41], axis = 1 )
df.head(2)

,Q3,Q5,Q25,Q7,Q9,Q14,Q24,age,gender,Q41
0,India,Other,"25,000-29,999","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...",None of these activities are an important par...,50-54,Man,"Local development environments (RStudio, Jupyt..."
1,Indonesia,Program/Project Manager,"60,000-69,999","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Matplotlib,Build and/or run the data infrastructure that...,50-54,Man,"Advanced statistical software (SPSS, SAS, etc.)"

In [848]:
#Cambiamos el nombre de nuestras columnas
df.rename(columns = {'Q3': 'country', 'Q5': 'current_role', 'Q25':'yearly_compensation', 'Q7': 'programming_languages', 'Q9' : 'ides', 'Q14': 'visualization', 'Q24' : 'activities', 'age' : 'age', 'gender' : 'gender', 'Q41' : 'primary_tool'}, inplace = True)

Comenzamos la exploración del nuevo dataframe, con el que trabajaremos a partir de ahora

In [849]:
df.head(3)

,country,current_role,yearly_compensation,programming_languages,ides,visualization,activities,age,gender,primary_tool
0,India,Other,"25,000-29,999","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...",None of these activities are an important par...,50-54,Man,"Local development environments (RStudio, Jupyt..."
1,Indonesia,Program/Project Manager,"60,000-69,999","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Matplotlib,Build and/or run the data infrastructure that...,50-54,Man,"Advanced statistical software (SPSS, SAS, etc.)"
2,Pakistan,Software Engineer,$0-999,"Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Matplotlib,None of these activities are an important par...,22-24,Man,"Basic statistical software (Microsoft Excel, G..."

In [850]:
#Creamos una función de limpieza básica para pasar a los diferentes dfs
def propiedades(df):
    """
    Esta función nos muestra la forma y el tamaño del dataframe y el tipo de dato para cada columna del dataframe
    Args: df
    df(dataframe):dataframe al que queremos aplicar la función
    """
    print("La forma es", df.shape)
    print('----------------------')
    print("El tamaño es", df.size)
    print('----------------------')
    print("El tipo de dato es", df.dtypes)

In [851]:
propiedades(df)

La forma es (25973, 10)
----------------------
El tamaño es 259730
----------------------
El tipo de dato es country                  object
current_role             object
yearly_compensation      object
programming_languages    object
ides                     object
visualization            object
activities               object
age                      object
gender                   object
primary_tool             object
dtype: object

Observamos que todas las columnas son de tipo object, y tenemos duda sobre si tenemos que cambiar la columna 'yearly_compensation' a una columna numérica o la columna 'age'

In [852]:
df['country'].unique()

array(['India', 'Indonesia', 'Pakistan', 'Mexico', 'Russia', 'Turkey',
       'Australia', 'Nigeria', 'Greece', 'Belgium', 'Japan', 'Egypt',
       'Singapore', 'Brazil', 'Poland', 'China',
       'Iran, Islamic Republic of...', 'United States of America',
       'Italy', 'Viet Nam', 'Israel', 'Peru', 'South Africa', 'Other',
       'Spain', 'Bangladesh',
       'United Kingdom of Great Britain and Northern Ireland', 'France',
       'Switzerland', 'Algeria', 'Tunisia', 'Argentina', 'Sweden',
       'Colombia', 'I do not wish to disclose my location', 'Canada',
       'Chile', 'Netherlands', 'Ukraine', 'Saudi Arabia', 'Romania',
       'Morocco', 'Austria', 'Taiwan', 'Kenya', 'Belarus', 'Ireland',
       'Portugal', 'Hong Kong (S.A.R.)', 'Denmark', 'Germany',
       'South Korea', 'Philippines', 'Sri Lanka', 'United Arab Emirates',
       'Uganda', 'Ghana', 'Malaysia', 'Thailand', 'Nepal', 'Kazakhstan',
       'Ethiopia', 'Iraq', 'Ecuador', 'Norway', 'Czech Republic'],
      dtype=object)

Para la columna 'country' observamos que:

- queremos cambiar el valor 'Iran, Islamic Republic of...' por 'Islamic Republic of Iran'

- el valor 'Viet Nam' está mal escrito, ya que se escribe junto

In [853]:
df['current_role'].unique()

array(['Other', 'Program/Project Manager', 'Software Engineer',
       'Research Scientist', 'Currently not employed', 'Student',
       'Data Scientist', 'Data Analyst', 'Machine Learning Engineer',
       'Business Analyst', 'Data Engineer', 'Product Manager',
       'Statistician', 'Developer Relations/Advocacy',
       'DBA/Database Engineer'], dtype=object)

Basaremos nuestro análisis en el perfil de 'Data Analyst'

In [854]:
df['yearly_compensation'].unique()

array(['25,000-29,999', '60,000-69,999', '$0-999', '30,000-39,999', nan,
       '15,000-19,999', '70,000-79,999', '2,000-2,999', '10,000-14,999',
       '5,000-7,499', '20,000-24,999', '1,000-1,999', '100,000-124,999',
       '7,500-9,999', '4,000-4,999', '40,000-49,999', '50,000-59,999',
       '3,000-3,999', '300,000-499,999', '200,000-249,999',
       '125,000-149,999', '250,000-299,999', '80,000-89,999',
       '90,000-99,999', '150,000-199,999', '>$1,000,000',
       '$500,000-999,999'], dtype=object)

Encontramos 1 símbolo extraño que habría que eliminar: `$`. Además existen valores nulos

In [855]:
df['programming_languages'].unique()

array(['Python, R', ' SQL, C, C++, Java', 'Python, C++, Java', 'Python',
       'Python, C, MATLAB', ' C++, Java, Javascript', 'Python, SQL',
       'Python, R, SQL', 'Python, R, C++', 'Python, MATLAB',
       'Python, C, C++, MATLAB', 'Python, SQL, C, Java, Javascript',
       ' None', 'Python, R, SQL, C++', ' R', 'Python, SQL, C++',
       'Python, R, SQL, C, C++, MATLAB', 'Python, C++', 'Python, C, C++',
       'Python, Java', 'Python, C, C++, Java, Javascript, MATLAB',
       'Python, Java, Javascript', 'Python, SQL, Java, Other',
       'Python, SQL, Java', 'Python, C, C++, Other',
       'Python, C++, MATLAB',
       'Python, SQL, C, C++, Java, Javascript, MATLAB',
       'Python, SQL, Java, Javascript, MATLAB, Other', ' R, SQL',
       'Python, SQL, Other', ' SQL, Javascript, Bash', ' C++, Other',
       'Python, SQL, C', ' C++', 'Python, SQL, Bash',
       'Python, C, Javascript', 'Python, Javascript, Bash, MATLAB',
       'Python, Javascript', ' SQL, Javascript', ' SQL, Java',
       'Python, Bash', 'Python, SQL, C, C++, Javascript',
       'Python, R, SQL, Javascript, Julia, Swift',
       'Python, SQL, Javascript, Bash, Other', nan,
       ' C++, Java, Javascript, Other',
       'Python, SQL, C, Javascript, Other',
       'Python, Java, Javascript, Bash', 'Python, Other',
       'Python, SQL, Javascript, Other', ' SQL, C++',
       'Python, R, SQL, Javascript, Bash', ' R, SQL, C++', ' R, C++',
       'Python, SQL, Java, Javascript, Bash, Other', ' C, Java', ' Bash',
       'Python, SQL, C++, Java', 'Python, C, Bash, MATLAB',
       'Python, SQL, C, Javascript', ' C', 'Python, C++, Julia', ' SQL',
       'Python, C, Java, Javascript',
       'Python, R, SQL, C++, Javascript, MATLAB',
       'Python, SQL, C, C++, Java', 'Python, R, C, C++, Javascript',
       'Python, SQL, C, C++, MATLAB',
       'Python, SQL, C, C++, MATLAB, Other',
       'Python, SQL, Java, Javascript, Other', ' Other',
       'Python, SQL, MATLAB, Other', 'Python, R, SQL, MATLAB',
       'Python, SQL, Javascript', 'Python, C++, Bash',
       ' SQL, Javascript, Other', 'Python, C++, Java, Javascript',
       'Python, R, Java',
       'Python, SQL, C, Java, Javascript, Swift, MATLAB',
       'Python, SQL, C, C++, Java, MATLAB', ' R, Bash',
       'Python, R, SQL, C, C++, Julia, Other', ' C, C++',
       'Python, SQL, Java, Bash', 'Python, SQL, C, Bash',
       'Python, R, Bash, Other', 'Python, C',
       'Python, SQL, C, C++, Java, Javascript, Bash',
       'Python, Javascript, Bash', 'Python, C, Bash',
       'Python, SQL, C, C++, Java, Javascript',
       'Python, Javascript, Other', 'Python, SQL, C++, Swift',
       'Python, SQL, C++, Other', 'Python, SQL, Java, MATLAB',
       ' C, MATLAB', 'Python, Swift',
       'Python, R, SQL, Java, Javascript, Bash',
       'Python, SQL, Javascript, Bash', 'Python, SQL, Java, Javascript',
       'Python, C, C++, Java, Bash, MATLAB', ' MATLAB',
       'Python, R, SQL, Bash', 'Python, R, SQL, C, C++',
       'Python, Javascript, Swift, MATLAB', 'Python, C++, Other',
       'Python, C, Java, Bash', ' R, Other',
       'Python, R, SQL, Javascript, Other',
       'Python, SQL, C, Java, Javascript, Bash', 'Python, R, SQL, Other',
       'Python, R, Javascript', 'Python, R, Bash',
       'Python, SQL, C++, Javascript', 'Python, R, SQL, C, C++, Bash',
       'Python, R, Julia', 'Python, R, Other', ' SQL, MATLAB, Other',
       ' C, C++, Javascript, Other',
       'Python, SQL, C, Javascript, Julia, Bash',
       'Python, C++, Javascript',
       'Python, R, C, C++, Bash, MATLAB, Other', 'Python, SQL, MATLAB',
       'Python, Java, MATLAB',
       'Python, R, SQL, C, C++, Java, Javascript, Bash', ' R, SQL, Other',
       'Python, SQL, C++, Java, MATLAB',
       'Python, R, C, C++, Java, MATLAB', 'Python, R, SQL, Javascript',
       'Python, R, SQL, C', 'Python, Javascript, MATLAB',
       'Python, R, MATLAB', 'Python, MATLAB, Other',
       'Python, C, C++, Java', 'Python, R, C, C++, Javascript, Bash',
       'Python, SQL, C, C++', 'Python, SQL, C++, Java, Javascript, Bash',
       'Python, R, SQL, C, C++, Javascript, Bash',
       'Python, SQL, Java, Javascript, Swift',
       'Python, R, SQL, C++, MATLAB', ' Java', 'Python, SQL, Bash, Other',
       'Python, C, Java', 'Python, SQL, C, C++, Bash, Other',
       'Python, SQL, C, Java, Javascript, Other', ' Javascript',
       'Python, SQL, C, Java', ' Java, Javascript',
       'Python, SQL, C++, Java, Bash', ' Java, Other',
       ' SQL, Javascript, Swift, Other', ' R, SQL, C, MATLAB',
       'Python, Julia', 'Python, R, C, C++',
       'Python, R, SQL, Java, Javascript, Julia', ' R, MATLAB',
       'Python, C, Julia, MATLAB', 'Python, C, Bash, Other',
       ' C, C++, Java', 'Python, SQL, C, C++, Java, Javascript, Other',
       'Python, SQL, Javascript, MATLAB',
       'Python, C, C++, Javascript, Julia, Bash',
       'Python, SQL, C++, Bash, MATLAB',
       'Python, SQL, C, C++, Java, Bash', ' C, C++, MATLAB', ' C++, Java',
       'Python, Java, Other', 'Python, R, Java, Javascript',
       'Python, R, SQL, C, C++, Javascript, Other',
       ' SQL, C, C++, MATLAB', ' SQL, C, Javascript, Other',
       'Python, C++, Java, Swift', 'Python, C++, Javascript, Bash',
       'Python, SQL, C++, Javascript, Bash',
       'Python, R, SQL, Javascript, Julia, Bash, MATLAB, Other',
       'Python, C, C++, Javascript', 'Python, R, SQL, Javascript, MATLAB',
       'Python, R, SQL, C++, Java, Javascript, MATLAB',
       'Python, C++, Java, MATLAB', ' SQL, Other',
       'Python, C, C++, Java, Javascript', 'Python, SQL, C, Java, Other',
       'Python, C, Java, Javascript, MATLAB', ' R, MATLAB, Other',
       'Python, R, SQL, C, C++, Java, Javascript, MATLAB', ' C++, MATLAB',
       'Python, R, SQL, Javascript, Bash, MATLAB',
       'Python, R, C, C++, MATLAB', ' Javascript, Other',
       'Python, R, SQL, C++, Java', 'Python, C, Javascript, Bash, MATLAB',
       'Python, SQL, Java, Javascript, Bash',
       'Python, C, C++, Javascript, MATLAB', 'Python, Javascript, Julia',
       'Python, C, C++, Java, MATLAB', 'Python, Java, Bash',
       'Python, C, C++, Java, Javascript, Other',
       'Python, R, Java, Other', ' SQL, Java, Javascript',
       'Python, C, Javascript, Other', ' C++, Julia, Other',
       'Python, R, SQL, C, C++, Java, Javascript',
       'Python, SQL, Javascript, Bash, MATLAB',
       'Python, R, SQL, Java, Javascript, MATLAB',
       'Python, R, SQL, C, C++, Java', ' Java, Bash, Other',
       'Python, R, SQL, Java, Javascript', 'Python, R, SQL, Java',
       ' SQL, C, Java, MATLAB', 'Python, SQL, C, MATLAB',
       'Python, R, SQL, C, MATLAB', 'Python, SQL, C, C++, Java, Other',
       'Python, C, Java, MATLAB', 'Python, R, C++, MATLAB',
       'Python, C++, Javascript, MATLAB',
       'Python, R, SQL, Java, Javascript, Bash, Other',
       ' SQL, Java, Other', 'Python, SQL, Java, MATLAB, Other',
       'Python, SQL, C, C++, Javascript, Bash',
       ' R, SQL, Java, Javascript', ' SQL, C, C++, Java, Javascript',
       'Python, R, SQL, C, C++, Java, Javascript, MATLAB, Other',
       'Python, SQL, C, C++, Java, Javascript, Bash, Other',
       'Python, Bash, Other', 'Python, R, SQL, Java, Bash, MATLAB',
       'Python, R, SQL, C, Java, Javascript, Bash',
       ' SQL, C, C++, Java, MATLAB', 'Python, C, Javascript, MATLAB',
       'Python, SQL, C, C++, Bash, MATLAB',
       'Python, Java, Javascript, Other',
       ' C, C++, Javascript, Bash, Other', 'Python, SQL, C, Java, MATLAB',
       'Python, R, SQL, C++, Java, Javascript', 'Python, C, C++, Bash',
       ' R, Javascript', 'Python, R, C++, Javascript',
       'Python, SQL, C, Java, Javascript, MATLAB',
       ' SQL, Java, Javascript, Swift',
       'Python, R, SQL, C, C++, Java, Javascript, Julia, Swift, Bash, MATLAB',
       ' R, SQL, C++, Other', 'Python, SQL, C++, Bash',
       'Python, SQL, C, C++, Javascript, Bash, MATLAB',
       'Python, C, Java, Other',
       'Python, R, SQL, C, C++, Java, Javascript, Swift, MATLAB',
       ' R, Swift', ' R, C, C++, Java', 'Python, Java, Swift, Other',
       'Python, R, C', 'Python, C++, Java, Bash', 'Python, C, Swift',
       'Python, C++, Julia, MATLAB',
       'Python, R, SQL, C++, Java, Javascript, Swift, MATLAB',
       'Python, R, SQL, Bash, Other',
       'Python, SQL, C, C++, Java, Javascript, Bash, MATLAB',
       'Python, R, SQL, C, C++, Java, MATLAB',
       'Python, SQL, C, C++, Javascript, Other',
       'Python, R, C, Java, Bash', 'Python, C, Javascript, Swift, Other',
       'Python, R, C, Java', 'Python, C, C++, Bash, MATLAB',
       'Python, R, SQL, C++, Other', 'Python, SQL, C++, MATLAB',
       'Python, C++, Java, Other', 'Python, SQL, C++, Java, Javascript',
       'Python, C, C++, Javascript, Julia, Swift',
       'Python, R, SQL, Java, Javascript, Swift',
       'Python, R, SQL, Java, Javascript, Other',
       'Python, SQL, C, C++, Java, Javascript, Swift, Bash, MATLAB',
       'Python, R, SQL, C, C++, Java, Julia, MATLAB, Other',
       'Python, SQL, C, C++, Javascript, Bash, Other', ' R, Java, MATLAB',
       'Python, R, SQL, C, Julia, Other',
       'Python, R, SQL, C, C++, Swift, Bash', ' Bash, MATLAB',
       ' SQL, C, Javascript',
       'Python, R, SQL, C, C++, Java, Javascript, Bash, Other',
       'Python, R, SQL, C, Java', ' R, SQL, C++, MATLAB',
       'Python, SQL, Java, Bash, Other', 'Python, R, C, Other',
       ' C, Other',
       'Python, R, SQL, C, C++, Javascript, Julia, Bash, MATLAB',
       'Python, R, SQL, C, C++, Java, Javascript, Bash, MATLAB',
       ' C, C++, Java, Javascript', ' Javascript, Swift, Other',
       'Python, SQL, C, C++, Swift', 'Python, R, Julia, MATLAB',
       'Python, Javascript, Julia, Bash',
       'Python, SQL, Java, Javascript, Bash, MATLAB',
       'Python, R, SQL, Julia, Bash', 'Python, SQL, C, C++, Bash',
       'Python, R, C, Java, Swift, Bash, MATLAB',
       'Python, SQL, C, Javascript, Bash, MATLAB', ' Swift',
       'Python, SQL, Java, Javascript, MATLAB',
       'Python, C, C++, Javascript, Bash',
       'Python, R, SQL, C, Javascript, MATLAB',
       'Python, SQL, C, C++, Javascript, MATLAB', 'Python, R, SQL, Julia',
       'Python, R, SQL, C, Java, Javascript, Bash, MATLAB',
       ' R, SQL, C, Java, MATLAB', ' R, C++, Other',
       ' R, C++, Java, Javascript, MATLAB',
       'Python, Javascript, Bash, Other', ' SQL, Java, Javascript, Other',
       'Python, SQL, C++, Javascript, Bash, Other', ' SQL, C++, Java',
       ' SQL, C, C++', ' SQL, Bash', 'Python, R, Java, MATLAB',
       'Python, R, SQL, C, Java, Bash, MATLAB',
       'Python, R, C, MATLAB, Other',
       'Python, SQL, C++, Java, Javascript, MATLAB',
       'Python, R, SQL, Java, Javascript, Swift, Bash',
       ' SQL, C, C++, Java, Other', ' R, C', 'Python, R, C++, Bash',
       'Python, R, C, C++, Julia, MATLAB',
       'Python, C, Javascript, MATLAB, Other', ' SQL, C, C++, Javascript',
       'Python, SQL, Swift, MATLAB',
       'Python, SQL, C++, Java, Javascript, Other',
       'Python, R, SQL, C, C++, Julia, Bash, MATLAB',
       ' R, SQL, C, Javascript, Bash', 'Python, R, C, Bash, MATLAB',
       'Python, SQL, C, C++, Other',
       'Python, C, C++, Java, Javascript, Julia, Bash', ' MATLAB, Other',
       'Python, SQL, C++, Java, Swift',
       'Python, R, SQL, C, Java, Javascript',
       'Python, R, C++, Java, Bash', 'Python, R, SQL, C, Javascript',
       'Python, C, Javascript, Bash', ' SQL, C++, Java, Other',
       'Python, R, C, MATLAB', ' R, Java', 'Python, Julia, MATLAB',
       'Python, C, Other',
       'Python, R, SQL, C, C++, Java, Javascript, Other',
       'Python, SQL, Javascript, MATLAB, Other',
       'Python, SQL, C++, Javascript, MATLAB', 'Python, R, SQL, C, Bash',
       ' SQL, Java, Bash', 'Python, SQL, Javascript, Swift, Other',
       'Python, SQL, C++, Javascript, Other',
       'Python, R, SQL, C++, Javascript, Swift, Other',
       'Python, R, SQL, Swift', 'Python, R, SQL, C++, Bash',
       ' SQL, C, C++, Javascript, Other',
       'Python, SQL, C, C++, Java, Javascript, Bash, MATLAB, Other',
       'Python, R, SQL, C, C++, Java, Bash',
       'Python, C++, Javascript, Other', ' SQL, C, MATLAB',
       ' SQL, C++, Javascript, MATLAB, Other',
       'Python, R, C, C++, Java, Javascript',
       'Python, SQL, C, C++, Javascript, Swift, MATLAB, Other',
       ' C, C++, Javascript, MATLAB', 'Python, R, SQL, MATLAB, Other',
       ' SQL, C++, Java, Javascript',
       'Python, R, SQL, C++, Java, Javascript, Other',
       'Python, R, SQL, Bash, MATLAB',
       'Python, SQL, C, C++, Javascript, Swift',
       'Python, R, SQL, Javascript, Bash, Other', ' R, SQL, Java',
       'Python, SQL, Bash, MATLAB', 'Python, R, SQL, Julia, MATLAB',
       'Python, Java, Bash, Other', ' SQL, C, Java, Bash, Other',
       'Python, R, C, C++, Bash', ' C, C++, Javascript', ' SQL, C, Java',
       'Python, R, SQL, C++, Javascript',
       'Python, R, SQL, C++, Java, Julia, MATLAB',
       'Python, SQL, C++, Java, Bash, Other',
       'Python, SQL, C, C++, Java, Javascript, Swift',
       'Python, R, Java, MATLAB, Other', ' C++, Javascript, Other',
       'Python, R, C++, Julia, Bash', 'Python, R, Javascript, Bash',
       'Python, SQL, C, Javascript, Bash',
       'Python, R, SQL, C, C++, Other',
       'Python, R, C, C++, Javascript, Other', ' C, Javascript',
       ' SQL, Java, Bash, Other', 'Python, R, Java, Javascript, MATLAB',
       'Python, SQL, C, C++, Java, Javascript, MATLAB, Other',
       'Python, R, C++, Bash, Other',
       'Python, SQL, C++, Java, Swift, MATLAB', ' SQL, Swift, Other',
       'Python, R, Java, Swift, Bash',
       'Python, R, SQL, C, C++, Java, Javascript, Bash, MATLAB, Other',
       ' SQL, C', 'Python, C++, Java, Javascript, MATLAB',
       ' Java, Javascript, Bash', ' Javascript, Bash', ' R, C, C++',
       'Python, Swift, Other', 'Python, Java, Javascript, MATLAB',
       'Python, R, SQL, C, C++, Java, Javascript, Swift, Bash',
       'Python, R, SQL, C, C++, Java, Javascript, Julia, MATLAB',
       'Python, C++, Javascript, Bash, MATLAB',
       ' SQL, C, C++, Javascript, MATLAB',
       'Python, R, SQL, Javascript, Julia, Bash', ' R, SQL, C++, Java',
       'Python, SQL, C++, Julia',
       'Python, SQL, C, Java, Javascript, Julia', 'Python, Julia, Other',
       'Python, SQL, Javascript, Julia',
       'Python, SQL, C, Javascript, Bash, Other', 'Python, R, C++, Other',
       ' SQL, C, Java, Javascript', 'Python, R, SQL, C, Java, MATLAB',
       'Python, C++, Java, Swift, Bash', 'Python, SQL, Swift, Bash',
       ' R, Java, Other', 'Python, R, SQL, C, C++, Javascript',
       'Python, C, C++, Javascript, Bash, Other', ' R, SQL, MATLAB',
       ' R, SQL, Javascript',
       'Python, R, SQL, C, C++, Javascript, MATLAB, Other',
       'Python, SQL, C, Javascript, Swift',
       'Python, SQL, C++, Java, Other', 'Python, R, SQL, C++, Julia',
       'Python, SQL, C, C++, Swift, MATLAB',
       'Python, Java, Javascript, Bash, Other',
       'Python, R, SQL, Java, Bash',
       'Python, R, SQL, C, C++, Java, MATLAB, Other',
       'Python, R, SQL, C, C++, Java, Javascript, Julia, Bash, MATLAB',
       'Python, R, SQL, C++, Javascript, Bash',
       'Python, SQL, Java, Swift', 'Python, R, Java, Bash',
       'Python, R, C, C++, Java, Javascript, Bash',
       'Python, R, SQL, C, C++, Javascript, MATLAB', ' Julia',
       ' C++, Java, Javascript, Swift',
       'Python, R, SQL, C, C++, Bash, MATLAB',
       'Python, R, SQL, C, C++, Java, Swift',
       'Python, R, SQL, C, Java, Javascript, Swift, MATLAB',
       ' R, SQL, Bash', 'Python, C, C++, Javascript, Swift, Other',
       ' C, C++, Julia', 'Python, R, SQL, Java, MATLAB',
       'Python, R, C, C++, Java, Javascript, MATLAB',
       'Python, R, SQL, C, C++, Javascript, Swift, MATLAB, Other',
       'Python, Julia, Bash', ' R, SQL, C, Java, Javascript',
       'Python, Javascript, Swift, Other',
       'Python, R, Javascript, MATLAB',
       'Python, SQL, C, C++, Swift, Bash, MATLAB',
       'Python, R, SQL, Java, Javascript, Bash, MATLAB',
       'Python, C, C++, MATLAB, Other',
       'Python, R, SQL, C++, Java, MATLAB', 'Python, Bash, MATLAB',
       ' SQL, C, Java, Javascript, Other', 'Python, R, Swift',
       'Python, SQL, Java, Julia', 'Python, SQL, C++, Java, Julia',
       'Python, R, Bash, MATLAB', 'Python, C++, Swift',
       ' R, C, Bash, MATLAB', ' R, SQL, Bash, MATLAB',
       ' R, Javascript, Other', ' SQL, C++, MATLAB', ' R, Julia, MATLAB',
       'Python, R, C++, Bash, MATLAB',
       'Python, C, Java, Javascript, Other',
       'Python, SQL, C, C++, Javascript, Bash, MATLAB, Other',
       'Python, R, Javascript, Bash, Other', ' R, Java, Javascript',
       ' C, C++, Swift, Bash', 'Python, C, MATLAB, Other',
       'Python, R, Java, Julia, MATLAB', 'Python, C, C++, Bash, Other',
       'Python, R, C, C++, Javascript, Julia', 'Python, SQL, Swift',
       ' Java, Javascript, Other', ' C, Java, MATLAB',
       'Python, R, SQL, C, C++, Java, Bash, MATLAB',
       'Python, R, C++, Java', ' Julia, Swift, MATLAB',
       'Python, R, SQL, C++, Julia, MATLAB', 'Python, Swift, Bash',
       ' SQL, Javascript, Bash, Other', 'Python, R, C++, MATLAB, Other',
       'Python, R, SQL, C, Java, Javascript, Julia, Bash',
       'Python, R, SQL, C++, Java, Bash',
       'Python, SQL, Java, Julia, MATLAB',
       'Python, R, SQL, C, C++, Javascript, Bash, MATLAB',
       'Python, R, SQL, C++, Java, Javascript, Swift, Bash, MATLAB',
       ' SQL, Java, Javascript, Bash',
       'Python, C, C++, Java, Javascript, MATLAB, Other',
       'Python, SQL, C, Javascript, MATLAB', ' C, C++, MATLAB, Other',
       ' SQL, Javascript, Swift', ' Swift, Other',
       'Python, SQL, C, C++, Javascript, Julia, MATLAB',
       'Python, R, C, C++, Java', ' R, SQL, C, C++',
       ' R, SQL, C++, Javascript, MATLAB, Other',
       ' R, SQL, C, C++, Other', 'Python, R, C, Java, Javascript',
       'Python, R, SQL, C++, Bash, MATLAB',
       'Python, R, C, C++, Bash, MATLAB', ' SQL, C, C++, Other',
       'Python, SQL, C, Java, Bash, Other', ' C++, Java, MATLAB',
       'Python, SQL, Java, Javascript, Swift, Bash, Other',
       'Python, Julia, MATLAB, Other',
       'Python, R, Java, Javascript, Swift',
       'Python, SQL, Javascript, Julia, Bash',
       'Python, R, Javascript, Other',
       'Python, R, SQL, C, C++, Java, Javascript, Julia, Bash',
       ' R, C, Other', 'Python, R, SQL, Javascript, Julia',
       'Python, SQL, C, Other', 'Python, R, Swift, MATLAB',
       'Python, R, SQL, Julia, Bash, Other',
       'Python, R, SQL, Swift, MATLAB', ' SQL, C++, Java, Bash',
       'Python, C, Javascript, Bash, Other',
       'Python, SQL, Javascript, Julia, Bash, Other',
       'Python, C, C++, Java, Other',
       'Python, C, C++, Java, Javascript, Bash', ' C, Java, Other',
       ' C++, MATLAB, Other', 'Python, SQL, Julia',
       'Python, C++, Julia, Swift, Bash', ' SQL, C++, Java, MATLAB',
       ' SQL, Bash, Other', 'Python, C++, Java, Javascript, Bash',
       'Python, R, SQL, C, C++, Java, Javascript, Swift',
       'Python, R, SQL, Java, Swift, Bash', ' SQL, C, Other',
       'Python, C, C++, Javascript, Other',
       'Python, R, SQL, Java, Bash, Other',
       ' SQL, C++, Javascript, Other',
       'Python, R, SQL, C, Java, Javascript, MATLAB, Other',
       'Python, C++, Java, Javascript, Other',
       'Python, R, SQL, C, Java, Bash, MATLAB, Other',
       'Python, R, C++, Javascript, Swift', 'Python, R, C, C++, Other',
       'Python, R, SQL, C, Bash, Other', ' C++, Javascript',
       'Python, C++, MATLAB, Other', ' Javascript, Bash, Other',
       ' Javascript, MATLAB', ' R, C, C++, Other',
       'Python, R, C, Java, MATLAB',
       'Python, SQL, C, C++, Java, Javascript, Julia, Bash',
       'Python, R, SQL, C, C++, MATLAB, Other',
       'Python, R, SQL, C, Java, Javascript, Other',
       'Python, SQL, C++, Swift, Bash', ' SQL, C, Bash, Other',
       ' R, C, C++, Java, Javascript, MATLAB',

In [856]:
df['programming_languages'].iloc[:2]

0             Python, R
1     SQL, C, C++, Java
Name: programming_languages, dtype: object

A simple vista parece que no hay errores en la escritura, aunque lo comprobaremos más adelante cuando apliquemos los métodos split y explode.

In [857]:
df['ides'].unique()

array([' Vim / Emacs', ' Notepad++,Jupyter Notebook',
       'PyCharm ,Jupyter Notebook, Other', ...,
       'Visual Studio ,Visual Studio Code (VSCode) , Notepad++, Vim / Emacs,MATLAB ,Jupyter Notebook',
       'RStudio ,Visual Studio ,PyCharm , Spyder',
       'RStudio ,Visual Studio ,Visual Studio Code (VSCode) , Notepad++, Vim / Emacs'],
      dtype=object)

A simple vista observamos que no existen errores en la escritura

In [858]:
df['visualization'].unique()

array([' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,Leaflet / Folium ',
       ' Matplotlib ', ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ',
       'Geoplotlib ', ' Matplotlib ,Plotly / Plotly Express ',
       ' Matplotlib ,Seaborn ', nan, 'Plotly / Plotly Express ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ', ' None',
       'Ggplot / ggplot2 ', ' Matplotlib ,Seaborn , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ',
       'Altair ', ' Matplotlib ,Ggplot / ggplot2 ',
       ' Matplotlib ,Seaborn ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ',
       'Seaborn ,Ggplot / ggplot2 ,Shiny ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Bokeh ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Geoplotlib ', ' Other',
       'Seaborn ', ' Matplotlib ,Altair ', ' Matplotlib ,Seaborn ,D3 js ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,D3 js ',
       ' Matplotlib ,D3 js ', 'Ggplot / ggplot2 ,Geoplotlib ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ',
       'Ggplot / ggplot2 ,Altair ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Altair ',
       ' Matplotlib ,Plotly / Plotly Express ,Bokeh , Other',
       ' Matplotlib ,Ggplot / ggplot2 ,Shiny ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ', 'D3 js ',
       'Seaborn ,Ggplot / ggplot2 ',
       ' Matplotlib ,Ggplot / ggplot2 ,Shiny ,D3 js ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ',
       'Seaborn ,Ggplot / ggplot2 ,D3 js ,Bokeh ', 'Seaborn ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Altair ,Bokeh ',
       ' Matplotlib ,Seaborn ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Geoplotlib ',
       'Ggplot / ggplot2 ,Shiny ', 'Seaborn ,Altair ',
       'Seaborn ,Plotly / Plotly Express ,Geoplotlib ',
       ' Matplotlib , Other', ' Matplotlib ,Geoplotlib ',
       'Ggplot / ggplot2 ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Altair ,Geoplotlib ',
       ' Matplotlib ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Shiny ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Altair ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Geoplotlib ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Altair ,Bokeh ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ',
       ' Matplotlib ,Plotly / Plotly Express ,Leaflet / Folium ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ',
       ' Matplotlib ,Shiny ,Altair ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,D3 js ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Altair ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Geoplotlib ',
       ' Matplotlib ,Plotly / Plotly Express ,Geoplotlib , Other',
       ' Matplotlib ,Ggplot / ggplot2 ,Shiny ,Geoplotlib ',
       'Seaborn ,Plotly / Plotly Express ', 'Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Altair ,Leaflet / Folium ',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ',
       'Seaborn ,Plotly / Plotly Express ,Shiny ,Leaflet / Folium ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Leaflet / Folium ',
       'Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       'Seaborn ,Ggplot / ggplot2 ,Shiny ,Geoplotlib ',
       'Seaborn ,Plotly / Plotly Express ,Shiny ,D3 js ,Leaflet / Folium ',
       'Plotly / Plotly Express ,D3 js ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Shiny ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Leaflet / Folium ',
       ' Matplotlib ,Plotly / Plotly Express ,Geoplotlib ',
       'Seaborn ,D3 js ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,Geoplotlib ',
       ' Matplotlib ,Ggplot / ggplot2 ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Plotly / Plotly Express ,D3 js ',
       ' Matplotlib ,Plotly / Plotly Express ,D3 js ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Altair ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       'Shiny ', ' Matplotlib ,Seaborn ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,D3 js ,Bokeh ',
       ' Matplotlib ,Seaborn ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Altair ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,D3 js ,Leaflet / Folium , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Geoplotlib ',
       ' Matplotlib ,Ggplot / ggplot2 ,Shiny ,Altair ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Shiny ,Leaflet / Folium ',
       ' Matplotlib ,Ggplot / ggplot2 ,D3 js ', 'Seaborn ,Geoplotlib ',
       'Altair ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Altair ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,D3 js ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Bokeh ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Shiny ,Bokeh ',
       ' Matplotlib ,Seaborn ,D3 js ,Leaflet / Folium ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Altair ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Geoplotlib , Other',
       ' Matplotlib ,Ggplot / ggplot2 , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,D3 js ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Leaflet / Folium , Other', 'Seaborn , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Altair ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       'D3 js ,Leaflet / Folium ', 'Shiny ,Altair ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Bokeh ,Leaflet / Folium ',
       'Seaborn ,Plotly / Plotly Express ,Bokeh ',
       ' Matplotlib ,Seaborn ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ',
       ' Matplotlib ,Plotly / Plotly Express , Other',
       'Seaborn ,Plotly / Plotly Express ,Shiny ',
       ' Matplotlib ,Plotly / Plotly Express ,Shiny ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Shiny ,D3 js ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh , Other',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,D3 js ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Geoplotlib ',
       ' Matplotlib ,Plotly / Plotly Express ,Bokeh ',
       'Plotly / Plotly Express , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Altair ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Altair ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Altair ,Leaflet / Folium , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ,Geoplotlib , Other',
       ' Matplotlib ,Ggplot / ggplot2 ,Leaflet / Folium ',
       ' Matplotlib ,Ggplot / ggplot2 ,Altair ',
       'Ggplot / ggplot2 , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Bokeh ,Leaflet / Folium ',
       'Plotly / Plotly Express ,D3 js ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Shiny ,D3 js ',
       ' Matplotlib ,D3 js ,Geoplotlib ',
       'Plotly / Plotly Express ,Shiny ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Altair ,Leaflet / Folium ',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ',
       'D3 js ,Altair ',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Shiny ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,Altair ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Altair ', ' Matplotlib ,Seaborn ,Shiny ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Altair ,Bokeh ',
       ' Matplotlib ,Ggplot / ggplot2 ,Shiny ,Geoplotlib ,Leaflet / Folium ',
       'Bokeh ,Geoplotlib ', 'Plotly / Plotly Express ,Altair ',
       ' Matplotlib ,Geoplotlib , Other',
       'Ggplot / ggplot2 ,Shiny ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Altair ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Bokeh ,Leaflet / Folium ',
       'Plotly / Plotly Express ,Geoplotlib ',
       ' Matplotlib ,Ggplot / ggplot2 ,Bokeh ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Geoplotlib ',
       'Seaborn ,Ggplot / ggplot2 ,Shiny , Other',
       ' Matplotlib ,D3 js ,Geoplotlib ,Leaflet / Folium ',
       'Shiny ,D3 js ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express , Other',
       'Seaborn ,Plotly / Plotly Express , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js , Other',
       ' Matplotlib ,Plotly / Plotly Express ,Altair ,Bokeh , Other',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Geoplotlib , Other',
       'Altair , Other',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,D3 js ,Bokeh ',
       'Plotly / Plotly Express ,Shiny ,D3 js ',
       'Ggplot / ggplot2 ,Bokeh ', 'Seaborn ,Shiny ',
       ' Matplotlib ,Seaborn ,D3 js , Other',
       ' Matplotlib ,D3 js ,Altair ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Leaflet / Folium ',
       ' Matplotlib ,Shiny ',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ',
       ' Matplotlib ,D3 js ,Leaflet / Folium ',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Leaflet / Folium ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ',
       'Seaborn ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny , Other',
       'Plotly / Plotly Express ,Shiny ,Geoplotlib ,Leaflet / Folium ',
       'Ggplot / ggplot2 ,Shiny ,Leaflet / Folium , Other',
       ' Matplotlib ,Seaborn ,D3 js ,Altair ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Altair ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Shiny ,D3 js ,Bokeh ',
       ' Matplotlib ,Shiny ,D3 js ', 'Seaborn ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Geoplotlib , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,D3 js ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Altair ',
       'Shiny ,Altair ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Bokeh ',
       ' Matplotlib ,Ggplot / ggplot2 ,Shiny ,Leaflet / Folium ',
       'Plotly / Plotly Express ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Altair ,Bokeh ,Geoplotlib ',
       'Plotly / Plotly Express ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Shiny ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Ggplot / ggplot2 ,Altair ,Bokeh ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,D3 js ,Bokeh ',
       ' Matplotlib ,Seaborn ,Altair ,Geoplotlib ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Geoplotlib ',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Leaflet / Folium ',
       'D3 js ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Bokeh ,Geoplotlib ',
       'Ggplot / ggplot2 ,D3 js ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,D3 js ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Geoplotlib ,Leaflet / Folium ',
       'Plotly / Plotly Express ,D3 js , Other',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Altair ',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Shiny ,D3 js ,Altair ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Geoplotlib ,Leaflet / Folium ',
       'Seaborn ,Ggplot / ggplot2 ,Shiny ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Bokeh ,Leaflet / Folium , Other',
       'Geoplotlib , Other',
       ' Matplotlib ,Ggplot / ggplot2 ,Geoplotlib , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Altair ,Geoplotlib ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Altair ',
       'Plotly / Plotly Express ,Bokeh , Other',
       ' Matplotlib ,Plotly / Plotly Express ,Shiny ',
       ' Matplotlib ,D3 js , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,D3 js ,Altair ',
       ' Matplotlib ,Seaborn ,Altair ,Bokeh ', 'D3 js , Other',
       'Seaborn ,Ggplot / ggplot2 ,Shiny ,D3 js ,Altair ,Geoplotlib ,Leaflet / Folium , Other',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Leaflet / Folium ',
       'Ggplot / ggplot2 ,Shiny ,D3 js ,Leaflet / Folium ',
       'Seaborn ,Plotly / Plotly Express ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Ggplot / ggplot2 ,D3 js ,Geoplotlib ',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Bokeh ',
       'Ggplot / ggplot2 ,Shiny ,Geoplotlib ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny , Other',
       'Ggplot / ggplot2 ,Shiny , Other',
       'Ggplot / ggplot2 ,Shiny ,D3 js ',
       ' Matplotlib ,Seaborn ,D3 js ,Geoplotlib ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Altair ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Plotly / Plotly Express ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,D3 js ,Bokeh ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Bokeh ,Geoplotlib ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ',
       'Leaflet / Folium , Other', 'Bokeh , Other', 'D3 js ,Bokeh ',
       ' Matplotlib ,Altair ,Geoplotlib ',
       'Seaborn ,Altair ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       'Seaborn ,Plotly / Plotly Express ,Leaflet / Folium ',
       'Seaborn ,Plotly / Plotly Express ,D3 js ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,D3 js ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Ggplot / ggplot2 ,Shiny ,Altair ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Altair , Other',
       ' Matplotlib ,D3 js ,Altair ,Leaflet / Folium ',
       ' Matplotlib ,Shiny ,Leaflet / Folium ', 'Shiny , Other',
       ' Matplotlib ,Shiny ,Bokeh ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Altair ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Altair ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Ggplot / ggplot2 ,D3 js , Other',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Bokeh ,Geoplotlib ',
       'Ggplot / ggplot2 ,Shiny ,Bokeh ',
       ' Matplotlib ,Seaborn ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Geoplotlib ,Leaflet / Folium , Other',
       'Plotly / Plotly Express ,Altair ,Bokeh , Other',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       'Seaborn ,Plotly / Plotly Express ,D3 js ,Bokeh ,Leaflet / Folium ',
       'Shiny ,D3 js ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,D3 js ,Bokeh ,Leaflet / Folium ',
       'Altair ,Leaflet / Folium ', 'Shiny ,Leaflet / Folium , Other',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 , Other',
       'Ggplot / ggplot2 ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Altair ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Shiny ,D3 js , Other',
       ' Matplotlib ,Plotly / Plotly Express ,D3 js ,Leaflet / Folium ',
       ' Matplotlib ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Geoplotlib ',
       'Shiny ,Leaflet / Folium ', ' Matplotlib ,Seaborn ,Bokeh , Other',
       'Seaborn ,Ggplot / ggplot2 ,Shiny ,Bokeh ',
       'Plotly / Plotly Express ,Altair ,Leaflet / Folium ',

A simple vista parece que no hay errores en la escritura, aunque lo comprobaremos más adelante cuando apliquemos los métodos split y explode.

In [859]:
df['activities'].unique()

array([' None of these activities are an important part of my role at work',
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data',
       ' Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas',
       nan,
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas',
       'Analyze and understand data to influence product or business decisions',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data',
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Build and/or run a machine learning service that operationally improves my product or workflows',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models',
       ' Build and/or run a machine learning service that operationally improves my product or workflows',
       ' Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas',
       ' Other',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Experimentation and iteration to improve existing ML models',
       ' Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Other',
       ' Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Do research that advances the state of the art of machine learning',
       ' Build prototypes to explore applying machine learning to new areas',
       ' Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models',
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning',
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows',
       'Analyze and understand data to influence product or business decisions, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Do research that advances the state of the art of machine learning',
       ' Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning',
       ' Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows',
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Experimentation and iteration to improve existing ML models',
       ' Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Experimentation and iteration to improve existing ML models',
       ' Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       ' Build prototypes to explore applying machine learning to new areas, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning',
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models',
       ' Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Other',
       ' Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning',
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Other',
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       ' Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning',
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Experimentation and iteration to improve existing ML models, Other',
       ' Build prototypes to explore applying machine learning to new areas, Other',
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Other',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning, Other',
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Do research that advances the state of the art of machine learning, Other',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Other',
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning, Other',
       ' Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Other',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning, Other',
       ' Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning, Other',
       ' Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models, Other',
       ' Build prototypes to explore applying machine learning to new areas, Do research that advances the state of the art of machine learning, Other',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Other',

Observamos que habrá que eliminar espacios al inicio de algunos strings y que además dependiendo del usuario, se ha elegido una o varias opciones. Por tanto habrá que usar un split y explode

In [860]:
df['age'].unique()

array(['50-54', '22-24', '45-49', '25-29', '18-21', '30-34', '40-44',
       '35-39', '70+', '55-59', '60-69'], dtype=object)

Nos llama la atención que existan usuarios con 70 años o más

In [861]:
df['gender'].unique()

array(['Man', 'Woman', 'Nonbinary', 'Prefer not to say',
       'Prefer to self-describe'], dtype=object)

In [862]:
df['primary_tool'].unique()

array(['Local development environments (RStudio, JupyterLab, etc.)',
       'Advanced statistical software (SPSS, SAS, etc.)',
       'Basic statistical software (Microsoft Excel, Google Sheets, etc.)',
       nan,
       'Business intelligence software (Salesforce, Tableau, Spotfire, etc.)',
       'Cloud-based data software & APIs (AWS, GCP, Azure, etc.)',
       'Other'], dtype=object)

Hemos detectado que hay valores nulos, habrá que indagar en ellos.

In [863]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                25973 non-null  object
 1   current_role           25973 non-null  object
 2   yearly_compensation    15391 non-null  object
 3   programming_languages  24941 non-null  object
 4   ides                   24934 non-null  object
 5   visualization          23970 non-null  object
 6   activities             15635 non-null  object
 7   age                    25973 non-null  object
 8   gender                 25973 non-null  object
 9   primary_tool           18489 non-null  object
dtypes: object(10)
memory usage: 2.0+ MB

Nuestro dataframe tiene 25973 filas y 10 columnas. Todas nuestras columnas son de tipo object y yambién observamos que tenemos algunas columnas con bastantes valores nulos

In [864]:
df.describe().T

,count,unique,top,freq
country,25973,66,India,7434
current_role,25973,15,Student,6804
yearly_compensation,15391,26,$0-999,3369
programming_languages,24941,825,Python,4740
ides,24934,1330,Jupyter Notebook,2341
visualization,23970,467,"Matplotlib ,Seaborn",5697
activities,15635,96,Analyze and understand data to influence produ...,2891
age,25973,11,25-29,4931
gender,25973,5,Man,20598
primary_tool,18489,6,"Basic statistical software (Microsoft Excel, G...",7246

Podemos extraer mucha información de este método, como por ejemplo que los usuarios de India son los que más han participado en esta encuesta, o que el sueldo que más se repite es el que va de 0 a 999. Por otro lado, el lenguaje de programación más utilizado es Python. También nos llama la atención que la mayoría de puestos sea el de estudiantes

In [865]:
pd.DataFrame(df.isnull().sum() * 100 / df.shape[0])

                               0
country                 0.000000
current_role            0.000000
yearly_compensation    40.742309
programming_languages   3.973357
ides                    4.000308
visualization           7.711855
activities             39.802872
age                     0.000000
gender                  0.000000
primary_tool           28.814538

Observamos que en las columnas que más nulos tienen son 'yearly_compensation' con un 40,74% y 'activities' con un 39.80%. No queremos eliminarlos ya que son una parte importante de nuestro análisis.

# LIMPIEZA:

Para la columna 'country':

- cambiar el valor 'Iran, Islamic Republic of...' por 'Islamic Republic of Iran'

- el valor 'Viet Nam' está mal escrito, ya que se escribe junto

In [866]:
def limpiar_country(columna):
    """
    Esta función nos permite modificar los datos de una columna para que estén escritos adecuadamente
    Args: columna
    columna(string): es el dato que queremos modificar 
    """
    
    if columna == 'Iran, Islamic Republic of...':
        cambiado = columna.replace('Iran, Islamic Republic of...', 'Islamic Republic of Iran')
        return cambiado
    
    elif columna == 'Viet Nam':
        cambiado2 = columna.replace('Viet Nam', 'Vietnam')
        return cambiado2
    
    else: 
        return columna

In [867]:
df['country'] = df['country'].apply(limpiar_country)
df['country'].unique()

array(['India', 'Indonesia', 'Pakistan', 'Mexico', 'Russia', 'Turkey',
       'Australia', 'Nigeria', 'Greece', 'Belgium', 'Japan', 'Egypt',
       'Singapore', 'Brazil', 'Poland', 'China',
       'Islamic Republic of Iran', 'United States of America', 'Italy',
       'Vietnam', 'Israel', 'Peru', 'South Africa', 'Other', 'Spain',
       'Bangladesh',
       'United Kingdom of Great Britain and Northern Ireland', 'France',
       'Switzerland', 'Algeria', 'Tunisia', 'Argentina', 'Sweden',
       'Colombia', 'I do not wish to disclose my location', 'Canada',
       'Chile', 'Netherlands', 'Ukraine', 'Saudi Arabia', 'Romania',
       'Morocco', 'Austria', 'Taiwan', 'Kenya', 'Belarus', 'Ireland',
       'Portugal', 'Hong Kong (S.A.R.)', 'Denmark', 'Germany',
       'South Korea', 'Philippines', 'Sri Lanka', 'United Arab Emirates',
       'Uganda', 'Ghana', 'Malaysia', 'Thailand', 'Nepal', 'Kazakhstan',
       'Ethiopia', 'Iraq', 'Ecuador', 'Norway', 'Czech Republic'],
      dtype=object)

Hemos aplicado un unique para comprobar que los cambios se han realizado correctamente

Para la columna 'yearly_compensation': 
-  símbolos extraños a eliminar: `$`

In [868]:
def limpiar_yearly(columna):
    
    """
    Esta función nos permite eliminar el símbolo $ de los datos de nuestras columnas
    Args: columna
    columna(string): es el dato que queremos modificar 
    """
    try:
        return re.sub('\$', '', columna)
         
    except:
        return columna

In [869]:
df['yearly_compensation'] = df['yearly_compensation'].apply(limpiar_yearly)
df['yearly_compensation'].unique()

array(['25,000-29,999', '60,000-69,999', '0-999', '30,000-39,999', nan,
       '15,000-19,999', '70,000-79,999', '2,000-2,999', '10,000-14,999',
       '5,000-7,499', '20,000-24,999', '1,000-1,999', '100,000-124,999',
       '7,500-9,999', '4,000-4,999', '40,000-49,999', '50,000-59,999',
       '3,000-3,999', '300,000-499,999', '200,000-249,999',
       '125,000-149,999', '250,000-299,999', '80,000-89,999',
       '90,000-99,999', '150,000-199,999', '>1,000,000',
       '500,000-999,999'], dtype=object)

Hemos aplicado un unique para comprobar que los cambios se han realizado correctamente

Para la columna 'activities':
- eliminar espacios al inicio de algunos strings

In [870]:
def limpiar_activities(columna):
    """
    Esta función nos permite eliminar los espacios que hay al principio y al final de los strings 
    Args: columna
    columna(string): es el dato al que le queremos quitar los espacios 
    """
    try:
        return columna.strip()
         
    except:
        return columna

In [871]:
df['activities'] = df['activities'].apply(limpiar_activities)
df['activities'].unique()

array(['None of these activities are an important part of my role at work',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data',
       'Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas',
       nan,
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas',
       'Analyze and understand data to influence product or business decisions',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Build and/or run a machine learning service that operationally improves my product or workflows',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models',
       'Build and/or run a machine learning service that operationally improves my product or workflows',
       'Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas',
       'Other',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Experimentation and iteration to improve existing ML models',
       'Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Other',
       'Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Do research that advances the state of the art of machine learning',
       'Build prototypes to explore applying machine learning to new areas',
       'Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows',
       'Analyze and understand data to influence product or business decisions, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Do research that advances the state of the art of machine learning',
       'Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning',
       'Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Experimentation and iteration to improve existing ML models',
       'Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Experimentation and iteration to improve existing ML models',
       'Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Build prototypes to explore applying machine learning to new areas, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models',
       'Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Other',
       'Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models',
       'Analyze and understand data to influence product or business decisions, Other',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Experimentation and iteration to improve existing ML models, Other',
       'Build prototypes to explore applying machine learning to new areas, Other',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Other',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning, Other',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Do research that advances the state of the art of machine learning, Other',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Other',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning, Other',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build and/or run a machine learning service that operationally improves my product or workflows, Experimentation and iteration to improve existing ML models, Other',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning, Other',
       'Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models, Do research that advances the state of the art of machine learning, Other',
       'Build prototypes to explore applying machine learning to new areas, Experimentation and iteration to improve existing ML models, Other',
       'Build prototypes to explore applying machine learning to new areas, Do research that advances the state of the art of machine learning, Other',
       'Analyze and understand data to influence product or business decisions, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Other',
       'Analyze and understand data to influence product or business decisions, Build prototypes to explore applying machine learning to new areas, Build and/or run a machine learning service that operationally improves my product or workflows, Do research that advances the state of the art of machine learning, Other',

Hemos aplicado un unique para comprobar que los cambios se han realizado correctamente

A partir de ahora, basaremos nuestro análisis en aquellos usuarios cuyo trabajo es 'Data Analyst'

In [872]:
############################################### Business Analyst

df_analyst = df[df['current_role'] == 'Data Analyst']

In [873]:
df_analyst['current_role'].unique()

array(['Data Analyst'], dtype=object)

Continuamos limpiando nuestro dataframe, buscaremos los valores duplicados y los nulos

In [874]:
#Buscamos los duplicados
df_analyst.duplicated().sum()

4

In [875]:
df_analyst[df_analyst.duplicated()].head(2)

,country,current_role,yearly_compensation,programming_languages,ides,visualization,activities,age,gender,primary_tool
8178,India,Data Analyst,0-999,NaN,NaN,NaN,Analyze and understand data to influence produ...,25-29,Man,"Basic statistical software (Microsoft Excel, G..."
9196,India,Data Analyst,"7,500-9,999",NaN,NaN,NaN,Analyze and understand data to influence produ...,25-29,Man,"Basic statistical software (Microsoft Excel, G..."

In [876]:
#Eliminamos los valores duplicados
df_analyst.drop_duplicates(inplace = True)

In [877]:
df_analyst.duplicated().sum()

0

In [878]:
#Buscamos los valores nulos
pd.DataFrame((df_analyst.isnull().sum() * 100) / df_analyst.shape[0])

                               0
country                 0.000000
current_role            0.000000
yearly_compensation    11.406182
programming_languages   6.094906
ides                    6.225512
visualization           8.271659
activities              9.882455
age                     0.000000
gender                  0.000000
primary_tool           23.160644

In [879]:
#FUNCIOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOON

df_analyst['yearly_compensation'].replace(np.nan, 'unknow', inplace = True)

In [880]:
df_analyst['programming_languages'].replace(np.nan, 'unknow', inplace = True)

In [881]:
df_analyst['ides'].replace(np.nan, 'unknow', inplace = True)

In [882]:
df_analyst['visualization'].replace(np.nan, 'unknow', inplace = True)

In [883]:
df_analyst['activities'].replace(np.nan, 'unknow', inplace = True)

In [884]:
df_analyst['primary_tool'].replace(np.nan, 'unknow', inplace = True)

In [885]:
pd.DataFrame((df_analyst.isnull().sum() * 100) / df_analyst.shape[0])

                         0
country                0.0
current_role           0.0
yearly_compensation    0.0
programming_languages  0.0
ides                   0.0
visualization          0.0
activities             0.0
age                    0.0
gender                 0.0
primary_tool           0.0

Como observamos, hemos reemplazado todos los valores nulos de nuestro dataframe por la palabra 'unknown' y de esta forma no perdemos los datos y podemos seguir trabajando con ellos.

In [886]:
df_analyst.head(2)

,country,current_role,yearly_compensation,programming_languages,ides,visualization,activities,age,gender,primary_tool
16,Belgium,Data Analyst,"2,000-2,999","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn ,Plotly / Plotly Express",Analyze and understand data to influence produ...,50-54,Man,"Local development environments (RStudio, Jupyt..."
32,United States of America,Data Analyst,unknow,R,RStudio,Ggplot / ggplot2,unknow,22-24,Nonbinary,unknow

### COMENZAMOS NUESTRO ANALISIS

Empezamos a categorizar nuestras columnas. Para ello creamos una función

In [887]:
def rango_edad(col):
    
    joven = ['25-29', '18-21', '22-24']
    mediana =['30-34', '35-39', '40-44', '45-49', '50-54']
    mayor = ['55-59','60-69', '70+']
    
    if col in joven:
        return 'joven'
        
    elif col in mediana:
        return 'mediana'
        
    elif col in mayor:
        return 'mayor'

In [888]:
df_analyst['ages'] = df_analyst['age'].apply(rango_edad)

In [889]:
df_analyst['ages'].unique()

array(['mediana', 'joven', 'mayor'], dtype=object)

In [890]:
df_analyst.head()

,country,current_role,yearly_compensation,programming_languages,ides,visualization,activities,age,gender,primary_tool,ages
16,Belgium,Data Analyst,"2,000-2,999","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn ,Plotly / Plotly Express",Analyze and understand data to influence produ...,50-54,Man,"Local development environments (RStudio, Jupyt...",mediana
32,United States of America,Data Analyst,unknow,R,RStudio,Ggplot / ggplot2,unknow,22-24,Nonbinary,unknow,joven
33,Egypt,Data Analyst,"7,500-9,999",Python,"Notepad++,Jupyter Notebook",None,Analyze and understand data to influence produ...,30-34,Woman,"Basic statistical software (Microsoft Excel, G...",mediana
46,China,Data Analyst,0-999,"Python, SQL, C, C++, Java, Javascript, MATLAB","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Plotly / Plotly Express",Analyze and understand data to influence produ...,22-24,Man,"Basic statistical software (Microsoft Excel, G...",joven
52,South Africa,Data Analyst,"25,000-29,999","R, SQL","RStudio ,Jupyter Notebook","Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny",Analyze and understand data to influence produ...,40-44,Man,"Local development environments (RStudio, Jupyt...",mediana

Comprobamos que los cambios se han realizado correctamente, por tanto eliminamos la columna original.

In [891]:
df_analyst.drop('age', inplace = True, axis = 1)

## Hacemos split/explode para la columna 'activities'

In [ ]:
df_analyst.head()

In [ ]:
df_analyst.iloc[3,6]

In [ ]:
df_analyst['activities'].unique()

Para nuestro análisis, necesitamos acceder a las actividades que un Data Analyst realuza en su día a día

In [ ]:
df_analyst['activities'].unique()

In [ ]:
patron = ',\s[A-Z]'

In [ ]:
df_analyst['activities'] = df_analyst['activities'].str.split(patron, regex = True, n = -1)

In [ ]:
df_prueba = df_analyst.explode('activities')

In [892]:
def crear_filas(df,patron,columna):
    
    df[columna] = df[columna].str.split(patron, n = -1) 
    
    return df.explode(columna)

In [893]:
df_final = crear_filas(df_analyst, ', ', 'activities')
df_final

,country,current_role,yearly_compensation,programming_languages,ides,visualization,activities,gender,primary_tool,ages
16,Belgium,Data Analyst,"2,000-2,999","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn ,Plotly / Plotly Express",Analyze and understand data to influence produ...,Man,"Local development environments (RStudio, Jupyt...",mediana
32,United States of America,Data Analyst,unknow,R,RStudio,Ggplot / ggplot2,unknow,Nonbinary,unknow,joven
33,Egypt,Data Analyst,"7,500-9,999",Python,"Notepad++,Jupyter Notebook",None,Analyze and understand data to influence produ...,Woman,"Basic statistical software (Microsoft Excel, G...",mediana
46,China,Data Analyst,0-999,"Python, SQL, C, C++, Java, Javascript, MATLAB","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Plotly / Plotly Express",Analyze and understand data to influence produ...,Man,"Basic statistical software (Microsoft Excel, G...",joven
46,China,Data Analyst,0-999,"Python, SQL, C, C++, Java, Javascript, MATLAB","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Plotly / Plotly Express",Build and/or run the data infrastructure that ...,Man,"Basic statistical software (Microsoft Excel, G...",joven
...,...,...,...,...,...,...,...,...,...,...
25966,India,Data Analyst,"3,000-3,999","Python, C","PyCharm ,Jupyter Notebook","Matplotlib ,Seaborn ,Ggplot / ggplot2",Experimentation and iteration to improve exist...,Man,unknow,mediana
25968,Egypt,Data Analyst,"15,000-19,999","Python, SQL, Javascript, Bash","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn",Analyze and understand data to influence produ...,Man,"Business intelligence software (Salesforce, Ta...",mediana
25968,Egypt,Data Analyst,"15,000-19,999","Python, SQL, Javascript, Bash","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn",Build and/or run the data infrastructure that ...,Man,"Business intelligence software (Salesforce, Ta...",mediana
25968,Egypt,Data Analyst,"15,000-19,999","Python, SQL, Javascript, Bash","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn",analyzing,Man,"Business intelligence software (Salesforce, Ta...",mediana
25968,Egypt,Data Analyst,"15,000-19,999","Python, SQL, Javascript, Bash","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn",and operationalizing data,Man,"Business intelligence software (Salesforce, Ta...",mediana

In [894]:
df_final['activities'].unique()

array(['Analyze and understand data to influence product or business decisions',
       'unknow',
       'Build and/or run the data infrastructure that my business uses for storing',
       'analyzing', 'and operationalizing data',
       'Build prototypes to explore applying machine learning to new areas',
       'Build and/or run a machine learning service that operationally improves my product or workflows',
       'None of these activities are an important part of my role at work',
       'Experimentation and iteration to improve existing ML models',
       'Do research that advances the state of the art of machine learning',
       'Other'], dtype=object)

In [896]:
def limpiar_actividades(columna): 
    if columna == 'Build and/or run the data infrastructure that my business uses for storing':
        return 'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data'
    
    elif columna == 'analyzing':
        return 'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data'
    
    elif columna == 'and operationalizing data':
        return 'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data'
    
    else:
        return columna

In [898]:
df_final['activities'] = df_final['activities'].apply(limpiar_actividades)

In [899]:
df_final['activities'].unique()

array(['Analyze and understand data to influence product or business decisions',
       'unknow',
       'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data',
       'Build prototypes to explore applying machine learning to new areas',
       'Build and/or run a machine learning service that operationally improves my product or workflows',
       'None of these activities are an important part of my role at work',
       'Experimentation and iteration to improve existing ML models',
       'Do research that advances the state of the art of machine learning',
       'Other'], dtype=object)

In [901]:
df_final['ides'].unique()

array(['Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Jupyter Notebook',
       'RStudio ', ' Notepad++,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio ,Visual Studio Code (VSCode) ,PyCharm ,MATLAB ,Jupyter Notebook',
       'RStudio ,Jupyter Notebook', 'PyCharm , Spyder', ' None',
       'Jupyter Notebook, Other', 'Visual Studio ,Jupyter Notebook',
       'Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio ,PyCharm , Notepad++,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio , Spyder',
       ' Spyder',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) ,PyCharm ,Jupyter Notebook',
       'Visual Studio ', 'PyCharm ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,PyCharm , Spyder, Sublime Text,Jupyter Notebook',
       'Visual Studio Code (VSCode) ',
       'Visual Studio Code (VSCode) , Notepad++,Jupyter Notebook',
       'Visual Studio Code (VSCode) ,Jupyter Notebook',
       'RStudio ,PyCharm ,MATLAB ',
       'RStudio ,Visual Studio ,Visual Studio Code (VSCode) ,PyCharm ,Jupyter Notebook',
       'unknow', ' Spyder, Other', ' Notepad++',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,PyCharm , Spyder, Notepad++,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,PyCharm ,MATLAB ',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ',
       'Visual Studio Code (VSCode) , Spyder,Jupyter Notebook',
       ' Notepad++, Vim / Emacs', 'PyCharm ',
       'RStudio ,Visual Studio ,PyCharm ,Jupyter Notebook',
       'PyCharm , Spyder,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) ,PyCharm ',
       'RStudio ,Visual Studio Code (VSCode) ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) , Notepad++, Vim / Emacs,Jupyter Notebook',
       'Visual Studio ,PyCharm ,MATLAB ',
       'RStudio ,Visual Studio , Notepad++', 'RStudio ,Visual Studio ',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio ,Visual Studio Code (VSCode) , Sublime Text,Jupyter Notebook',
       'PyCharm , Sublime Text,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio ,Visual Studio Code (VSCode) ,PyCharm , Notepad++, Sublime Text,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) , Notepad++,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,PyCharm ,Jupyter Notebook',
       'PyCharm , Other',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio ,PyCharm , Spyder, Notepad++,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) ,PyCharm , Notepad++,MATLAB ,Jupyter Notebook',
       'RStudio , Sublime Text,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio ,PyCharm ',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio Code (VSCode) , Notepad++,Jupyter Notebook',
       'RStudio ,Jupyter Notebook, Other',
       'Visual Studio ,MATLAB ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio ,Visual Studio Code (VSCode) ,PyCharm , Spyder,MATLAB ,Jupyter Notebook',
       ' Sublime Text,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) ,PyCharm , Notepad++,Jupyter Notebook',
       ' Spyder,Jupyter Notebook',
       'Visual Studio , Sublime Text,Jupyter Notebook',
       'Visual Studio Code (VSCode) ,PyCharm ,Jupyter Notebook',
       'MATLAB ',
       'RStudio ,Visual Studio ,Visual Studio Code (VSCode) , Notepad++',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,PyCharm , Notepad++,Jupyter Notebook',
       'RStudio , Spyder, Notepad++,Jupyter Notebook', ' Other',
       'Visual Studio ,Visual Studio Code (VSCode) ',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,PyCharm ',
       'Visual Studio ,Visual Studio Code (VSCode) ,PyCharm ,Jupyter Notebook',
       'RStudio ,Visual Studio ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) , Notepad++, Sublime Text,MATLAB ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio , Spyder,Jupyter Notebook',
       'PyCharm , Notepad++,Jupyter Notebook', ' Spyder, Vim / Emacs',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ',
       'RStudio ,Visual Studio Code (VSCode) ,PyCharm , Spyder,Jupyter Notebook',
       'RStudio ,PyCharm ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Jupyter Notebook',
       'RStudio ,Visual Studio Code (VSCode) , Notepad++,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) , Spyder',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio , Spyder, Notepad++,Jupyter Notebook',
       ' Spyder, Notepad++',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) , Vim / Emacs,Jupyter Notebook',
       'Visual Studio Code (VSCode) ,PyCharm , Notepad++,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio ,Visual Studio Code (VSCode) ,PyCharm , Spyder, Notepad++, Sublime Text, Vim / Emacs,MATLAB ,Jupyter Notebook',
       'RStudio ,Visual Studio Code (VSCode) ,PyCharm , Sublime Text,Jupyter Notebook',
       'Visual Studio ,PyCharm , Spyder, Notepad++,Jupyter Notebook',
       'RStudio ,Visual Studio Code (VSCode) ,PyCharm ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) , Spyder, Notepad++,Jupyter Notebook',
       'RStudio , Spyder, Vim / Emacs,Jupyter Notebook',
       'Visual Studio Code (VSCode) ,PyCharm , Spyder,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio , Spyder,Jupyter Notebook',
       'PyCharm , Spyder, Sublime Text,Jupyter Notebook',
       'RStudio ,Visual Studio ,Visual Studio Code (VSCode) , Sublime Text,Jupyter Notebook',
       'Visual Studio Code (VSCode) ,PyCharm , Spyder, Sublime Text,Jupyter Notebook',
       'MATLAB ,Jupyter Notebook',
       'RStudio ,Visual Studio , Notepad++,MATLAB ,Jupyter Notebook',
       'Visual Studio Code (VSCode) ,PyCharm , Sublime Text,Jupyter Notebook',
       ' Sublime Text,MATLAB ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio ,Visual Studio Code (VSCode) ,PyCharm , Spyder, Notepad++, Sublime Text,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,PyCharm ,Jupyter Notebook',
       'Visual Studio ,Visual Studio Code (VSCode) ,PyCharm , Notepad++, Sublime Text,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) ',
       'RStudio , Spyder,Jupyter Notebook',
       'Visual Studio Code (VSCode) , Other',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) ,PyCharm , Sublime Text,Jupyter Notebook',
       ' Notepad++, Sublime Text,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio , Notepad++,Jupyter Notebook',
       'PyCharm , Notepad++,MATLAB ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) , Notepad++, Vim / Emacs',
       'Visual Studio Code (VSCode) ,PyCharm , Sublime Text,MATLAB ',
       'Visual Studio Code (VSCode) ,Jupyter Notebook, Other',
       'Visual Studio ,Jupyter Notebook, Other',
       'Visual Studio , Spyder,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,MATLAB ,Jupyter Notebook',
       'Visual Studio ,PyCharm , Sublime Text,Jupyter Notebook',
       'Visual Studio ,Visual Studio Code (VSCode) ,PyCharm ',
       'RStudio ,Visual Studio ,Visual Studio Code (VSCode) , Spyder,Jupyter Notebook',
       'Visual Studio ,Visual Studio Code (VSCode) , Sublime Text,Jupyter Notebook',
       'Visual Studio ,Visual Studio Code (VSCode) ,MATLAB ',
       'Visual Studio Code (VSCode) ,PyCharm ',
       'RStudio ,Visual Studio ,Visual Studio Code (VSCode) ,PyCharm , Spyder, Sublime Text,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) ,PyCharm , Notepad++, Sublime Text,Jupyter Notebook',
       'Visual Studio Code (VSCode) , Notepad++, Vim / Emacs,Jupyter Notebook',
       'PyCharm ,Jupyter Notebook, Other', 'RStudio ,PyCharm ',
       'RStudio ,Visual Studio , Spyder,MATLAB ,Jupyter Notebook',
       'Visual Studio ,PyCharm , Notepad++,Jupyter Notebook',
       'Visual Studio ,Visual Studio Code (VSCode) , Notepad++,MATLAB ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio Code (VSCode) , Spyder,Jupyter Notebook',
       'Visual Studio Code (VSCode) , Spyder, Notepad++,Jupyter Notebook',
       'RStudio ,Visual Studio Code (VSCode) ,PyCharm , Spyder',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio , Notepad++',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio Code (VSCode) ,PyCharm , Spyder',
       ' Notepad++, Other', 'RStudio ,Visual Studio Code (VSCode) ',
       'Visual Studio , Notepad++, Sublime Text',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) , Other',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) ,Jupyter Notebook, Other',
       'Visual Studio Code (VSCode) ,MATLAB ,Jupyter Notebook',
       'RStudio , Notepad++,Jupyter Notebook',
       'MATLAB ,Jupyter Notebook, Other',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio Code (VSCode) , Sublime Text',
       ' Spyder, Notepad++,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio ,Jupyter Notebook',
       'Visual Studio ,Visual Studio Code (VSCode) , Notepad++,Jupyter Notebook',
       'Visual Studio ,Visual Studio Code (VSCode) , Notepad++',
       'Visual Studio ,PyCharm ,Jupyter Notebook',
       'Visual Studio ,Visual Studio Code (VSCode) ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio ,Visual Studio Code (VSCode) ,PyCharm , Spyder, Sublime Text,Jupyter Notebook',
       'RStudio ,PyCharm , Spyder, Notepad++,Jupyter Notebook',
       'RStudio ,Visual Studio ,Visual Studio Code (VSCode) ,PyCharm , Notepad++,Jupyter Notebook',
       'Visual Studio ,Visual Studio Code (VSCode) , Spyder,MATLAB ',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,PyCharm , Notepad++,Jupyter Notebook',
       'Visual Studio , Notepad++, Sublime Text,Jupyter Notebook',
       'Visual Studio ,Visual Studio Code (VSCode) , Notepad++, Sublime Text',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) , Spyder, Notepad++,MATLAB ',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) , Sublime Text',
       'RStudio ,Visual Studio , Spyder',
       'Visual Studio ,PyCharm , Spyder, Sublime Text,Jupyter Notebook',
       'RStudio ,Visual Studio ,Visual Studio Code (VSCode) , Spyder, Notepad++,Jupyter Notebook',
       'Visual Studio , Other',
       ' Sublime Text, Vim / Emacs,Jupyter Notebook, Other',
       'Visual Studio Code (VSCode) ,PyCharm , Spyder, Notepad++, Sublime Text,Jupyter Notebook',
       'RStudio ,PyCharm , Spyder,Jupyter Notebook',
       'PyCharm , Sublime Text,MATLAB ,Jupyter Notebook',
       'Visual Studio , Notepad++',
       'RStudio ,Visual Studio Code (VSCode) ,PyCharm ',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) , Notepad++',
       'Visual Studio Code (VSCode) ,PyCharm , Spyder,MATLAB ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio ,PyCharm , Notepad++, Sublime Text,Jupyter Notebook',
       'Visual Studio , Sublime Text',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio Code (VSCode) ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Jupyter Notebook, Other',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio Code (VSCode) , Vim / Emacs,Jupyter Notebook',
       'RStudio ,MATLAB ',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio ,Visual Studio Code (VSCode) ,Jupyter Notebook',
       ' Vim / Emacs,Jupyter Notebook',
       'Visual Studio ,PyCharm , Notepad++',
       'RStudio ,Visual Studio ,Visual Studio Code (VSCode) , Notepad++,MATLAB ',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,MATLAB ',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) , Spyder,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio Code (VSCode) , Sublime Text,Jupyter Notebook',
       ' Spyder,MATLAB ,Jupyter Notebook',
       'RStudio ,Visual Studio Code (VSCode) , Spyder',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,MATLAB ',
       'PyCharm , Notepad++',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) ,PyCharm , Spyder,Jupyter Notebook',
       ' Sublime Text, Vim / Emacs,Jupyter Notebook',
       'RStudio ,Visual Studio ,PyCharm , Notepad++, Sublime Text,Jupyter Notebook',
       'RStudio ,PyCharm , Other', 'PyCharm , Sublime Text',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio Code (VSCode) ,PyCharm , Notepad++,Jupyter Notebook',
       'RStudio ,PyCharm , Spyder, Notepad++, Sublime Text,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio ',
       'Visual Studio ,PyCharm ',
       'RStudio ,PyCharm , Notepad++,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,PyCharm , Sublime Text',
       'RStudio , Notepad++,Jupyter Notebook, Other',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) , Notepad++, Sublime Text,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) , Notepad++,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) , Spyder,MATLAB ,Jupyter Notebook',
       'RStudio , Notepad++, Other',
       'Visual Studio Code (VSCode) , Sublime Text,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio ,Visual Studio Code (VSCode) , Spyder, Notepad++, Sublime Text',
       'RStudio ,Visual Studio Code (VSCode) ,PyCharm ,MATLAB ',
       'RStudio ,PyCharm , Notepad++',
       'Visual Studio Code (VSCode) , Notepad++,MATLAB ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) , Notepad++, Sublime Text, Vim / Emacs,Jupyter Notebook',
       'RStudio ,Visual Studio ,PyCharm ',
       'RStudio , Spyder,Jupyter Notebook, Other',
       'Visual Studio Code (VSCode) , Notepad++',
       'PyCharm , Spyder, Notepad++,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio ,Visual Studio Code (VSCode) ,PyCharm , Spyder, Notepad++, Sublime Text,Jupyter Notebook, Other',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio , Spyder',
       ' Notepad++, Sublime Text', 'RStudio ,MATLAB ,Jupyter Notebook',
       'RStudio ,PyCharm , Spyder, Notepad++,MATLAB ,Jupyter Notebook',
       'Visual Studio Code (VSCode) ,PyCharm , Spyder, Notepad++,Jupyter Notebook',
       'RStudio ,PyCharm , Spyder,Jupyter Notebook, Other',
       'Visual Studio Code (VSCode) ,PyCharm , Sublime Text,MATLAB ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,PyCharm , Spyder,MATLAB ,Jupyter Notebook',
       'Visual Studio Code (VSCode) ,PyCharm , Notepad++, Sublime Text,Jupyter Notebook',
       'RStudio , Notepad++,MATLAB ,Jupyter Notebook',
       'RStudio ,Visual Studio , Notepad++,Jupyter Notebook',
       'RStudio , Notepad++',
       'RStudio , Spyder, Notepad++, Sublime Text,MATLAB ',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio , Vim / Emacs,Jupyter Notebook',
       'RStudio ,PyCharm , Sublime Text,Jupyter Notebook',
       'RStudio ,PyCharm , Spyder', 'RStudio , Spyder',
       'RStudio ,PyCharm , Notepad++, Sublime Text',
       'RStudio ,Visual Studio ,Visual Studio Code (VSCode) , Spyder, Notepad++, Sublime Text,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio Code (VSCode) ,PyCharm , Spyder, Notepad++, Sublime Text, Vim / Emacs',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio ,Visual Studio Code (VSCode) ,PyCharm , Notepad++, Sublime Text,MATLAB ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio , Spyder, Sublime Text,Jupyter Notebook',
       ' Sublime Text',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio ,Visual Studio Code (VSCode) ,PyCharm , Spyder, Notepad++,Jupyter Notebook',
       'RStudio ,Visual Studio , Spyder,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio ,PyCharm ',
       'RStudio ,Visual Studio ,Visual Studio Code (VSCode) ,PyCharm ',
       'RStudio ,PyCharm ,MATLAB ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,PyCharm , Spyder, Sublime Text',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) ,PyCharm , Spyder, Notepad++,Jupyter Notebook',
       'RStudio ,Visual Studio Code (VSCode) ,PyCharm , Notepad++,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio ,Visual Studio Code (VSCode) ,PyCharm , Spyder, Notepad++, Sublime Text',
       'Visual Studio ,Visual Studio Code (VSCode) , Other',
       'Visual Studio ,PyCharm , Notepad++, Vim / Emacs,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,PyCharm , Notepad++, Vim / Emacs,Jupyter Notebook',
       'RStudio , Spyder, Notepad++',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) , Notepad++,Jupyter Notebook, Other',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio Code (VSCode) ',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) ,PyCharm , Notepad++',
       'RStudio ,Visual Studio ,Visual Studio Code (VSCode) , Spyder, Notepad++, Vim / Emacs',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,PyCharm , Spyder,Jupyter Notebook',
       'Visual Studio ,PyCharm , Notepad++,MATLAB ',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio Code (VSCode) ,PyCharm , Spyder, Notepad++,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,MATLAB ,Jupyter Notebook',
       'Visual Studio Code (VSCode) ,MATLAB ',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio ,Visual Studio Code (VSCode) , Notepad++,Jupyter Notebook',
       'RStudio , Other',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,RStudio ,Visual Studio ,Visual Studio Code (VSCode) ,Jupyter Notebook',
       'RStudio ,Visual Studio , Notepad++, Sublime Text, Vim / Emacs,Jupyter Notebook',
       ' Spyder, Notepad++, Sublime Text',
       'RStudio ,PyCharm , Sublime Text, Vim / Emacs,Jupyter Notebook',
       'Visual Studio ,Visual Studio Code (VSCode) ,MATLAB ,Jupyter Notebook',
       'Visual Studio ,MATLAB ', 'PyCharm ,MATLAB ,Jupyter Notebook',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,PyCharm , Notepad++,MATLAB ',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,PyCharm , Sublime Text,Jupyter Notebook',
       'Visual Studio Code (VSCode) , Notepad++, Sublime Text, Other',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) ,Visual Studio Code (VSCode) , Spyder,Jupyter Notebook',
       'Visual Studio ,Visual Studio Code (VSCode) ,PyCharm , Sublime Text',
       'Visual Studio Code (VSCode) , Spyder',
       'Jupyter (JupyterLab, Jupyter Notebooks, etc) , Sublime Text',

## Hacemos split/explode para la columna 'activities'

# Preguntas: 


1. ¿Cuáles son los países en los que más se gana y en los que menos? ¿En qué puesto se encuentra España? 

2. ¿Existe relación entre el rango de edad y el género? (en general, no solo para data analyst)

   2.1 nuestra hipotesis es que a medida que pasan los años, la brecha de género se acentúa 

3. ¿Existe relación entre el salario y la ocupación? El sueldo que más se repite es de 0-999 y pensamos que tal vez sea porque contratan estudiantes como becarios

In [ ]:
tabla_completa.head(1)

In [ ]:
tabla_completa['GENDER'].unique()

In [ ]:
plt.figure(figsize = (10,5))
sns.countplot(x = 'GENDER', data = tabla_completa, hue = 'GENDER');

In [ ]:
df_woman = tabla_completa[tabla_completa["GENDER"] == "Woman"]
df_woman.head()

In [ ]:
df_woman["AGE"].unique()

In [ ]:
df_edad = df_woman["AGE"].value_counts().reset_index().sort_values(by = ["AGE"])
df_edad

In [ ]:
def rango(col):
    joven = ['25-29', '18-21', '22-24']
    mediana =['30-34', '35-39', '40-44', '45-49', '50-54']
    mayor = ['55-59','60-69', '70+']

    if col in joven:
        return 'joven'
    elif col in mediana:
        return 'mediana'
    else:
        return 'mayor'

In [ ]:
rango("18-21")

In [ ]:
tabla_completa["EDAD_PRUEBA"] = tabla_completa["AGE"].apply(rango)
tabla_completa.head()

In [ ]:
plt.bar(x = df_edad["AGE"], height = df_edad["count"]);

In [ ]:
df_man = tabla_completa[tabla_completa["GENDER"] == "Man"]
df_man.head()

In [ ]:
df_man["AGE"].unique()

In [ ]:
df_edad2 = df_man["AGE"].value_counts().reset_index().sort_values(by = ["AGE"])
df_edad2

In [ ]:
plt.bar(x = df_edad2["AGE"], height = df_edad["count"]);

In [ ]:
sns.swarmplot(x = "AGE", y = "count", data = df_edad);