In [14]:
import pandas as pd
import os
import xml.etree.ElementTree as ET

ABRIMOS Y EXPLORAMOS LOS .CSV

In [22]:
data_remaning = pd.read_csv('../datos/data_remaning_kaggle.csv', sep= ',', encoding = 'latin-1')
data_remaning.sample(5)

,Unnamed: 0,index,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
10776,10776,10776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
10615,10615,10615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5069,5069,5069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Comet.ml,NaN,TensorBoard,NaN,NaN,NaN,NaN,MLflow,NaN,NaN
3389,3389,3389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22537,22537,22537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
def propiedades(df):
    print("El índice es", df.index)
    print('----------------------')
    print("La forma es", df.shape)
    print('----------------------')
    print("El tamaño es", df.size)
    print('----------------------')
    print("El tipo de dato es", df.dtypes)

In [37]:
propiedades(data_remaning)

El índice es RangeIndex(start=0, stop=25973, step=1)
----------------------
La forma es (25973, 214)
----------------------
El tamaño es 5558222
----------------------
El tipo de dato es Unnamed: 0        int64
index             int64
Q18_Part_1       object
Q18_Part_2       object
Q18_Part_3       object
                  ...
Q38_B_Part_8     object
Q38_B_Part_9     object
Q38_B_Part_10    object
Q38_B_Part_11    object
Q38_B_OTHER      object
Length: 214, dtype: object

In [21]:
exported_db = pd.read_csv('../datos/exported_db_data.csv', sep= ',', encoding = 'latin-1')
exported_db.sample(5)

,index,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
24749,24749,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17255,17255,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11061,11061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
8911,8911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
7365,7365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
propiedades(exported_db)

El índice es RangeIndex(start=0, stop=25973, step=1)
----------------------
La forma es (25973, 18)
----------------------
El tamaño es 467514
----------------------
El tipo de dato es index           int64
Q10_Part_1     object
Q10_Part_2     object
Q10_Part_3     object
Q10_Part_4     object
Q10_Part_5     object
Q10_Part_6     object
Q10_Part_7     object
Q10_Part_8     object
Q10_Part_9     object
Q10_Part_10    object
Q10_Part_11    object
Q10_Part_12    object
Q10_Part_13    object
Q10_Part_14    object
Q10_Part_15    object
Q10_Part_16    object
Q10_OTHER      object
dtype: object

ABRIMOS Y EXPLORAMOS EL TXT

In [20]:
data_txt = pd.read_csv('../datos/data_txt_clean.txt', sep= ';')
data_txt.sample(5)

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
23238,23238,France,Master’s degree,Research Scientist,10-20 years,Python,Other,Never,10-20 years,Energy/Mining,...,"Local development environments (RStudio, Jupyt...",Python,PyCharm,None,"Matplotlib ,Seaborn",Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,None
7763,7763,Egypt,Bachelor’s degree,Business Analyst,I have never written code,NaN,NaN,NaN,NaN,Online Business/Internet-based Sales,...,"Basic statistical software (Microsoft Excel, G...",NaN,NaN,NaN,NaN,NaN,NaN,Analyze and understand data to influence produ...,NaN,NaN
14770,14770,India,Bachelor’s degree,Student,1-3 years,Python,A laptop,6-25 times,< 1 year,NaN,...,NaN,"Python, C++","Visual Studio Code (VSCode) , Sublime Text,Jup...",NVIDIA GPUs,"Matplotlib ,Seaborn",PyTorch,"Linear or Logistic Regression, Dense Neural Ne...",NaN,NaN,NaN
23800,23800,Chile,Bachelor’s degree,Student,1-3 years,Python,A laptop,Never,< 1 year,NaN,...,NaN,"Python, SQL, C",Other,None,"Matplotlib ,Seaborn ,Geoplotlib",None,Decision Trees or Random Forests,NaN,NaN,NaN
21302,21302,Sweden,Doctoral degree,Currently not employed,1-3 years,Python,A laptop,6-25 times,< 1 year,NaN,...,"Advanced statistical software (SPSS, SAS, etc.)","Python, C++, MATLAB","Visual Studio Code (VSCode) ,MATLAB ,Jupyter N...",Google Cloud TPUs,"Matplotlib ,Plotly / Plotly Express","Scikit-learn , TensorFlow ,Keras ,PyTorch","Linear or Logistic Regression, Decision Trees ...",NaN,NaN,NaN

In [39]:
propiedades(data_txt)

El índice es RangeIndex(start=0, stop=25973, step=1)
----------------------
La forma es (25973, 27)
----------------------
El tamaño es 701271
----------------------
El tipo de dato es index     int64
Q3       object
Q4       object
Q5       object
Q6       object
Q8       object
Q11      object
Q13      object
Q15      object
Q20      object
Q21      object
Q22      object
Q23      object
Q25      object
Q26      object
Q33      object
Q35      object
Q41      object
Q7       object
Q9       object
Q12      object
Q14      object
Q16      object
Q17      object
Q24      object
Q32      object
Q34      object
dtype: object

ABRIMOS Y EXPLORAMOS EL XML

In [19]:
data_xml = pd.read_xml('../datos/data_xml_clean.xml')
data_xml.sample(5)

       level_0  index  time    age gender
8182      8182   8182   682  40-44    Man
11895    11895  11895   893  22-24    Man
20486    20486  20486   420  40-44    Man
10763    10763  10763   443  18-21    Man
4166      4166   4166   652  22-24    Man

In [40]:
propiedades(data_xml)

El índice es RangeIndex(start=0, stop=25973, step=1)
----------------------
La forma es (25973, 5)
----------------------
El tamaño es 129865
----------------------
El tipo de dato es level_0     int64
index       int64
time        int64
age        object
gender     object
dtype: object