In [1]:
import pandas as pd
import os
import xml.etree.ElementTree as ET

In [2]:
import re

In [3]:
pd.options.display.max_columns = None

ABRIMOS Y EXPLORAMOS LOS .CSV

In [4]:
def propiedades(df):
    print("El índice es", df.index)
    print('----------------------')
    print("La forma es", df.shape)
    print('----------------------')
    print("El tamaño es", df.size)
    print('----------------------')
    print("El tipo de dato es", df.dtypes)

In [5]:
def eliminar_columnas(df):

    columnas_eliminadas = []
    patron = 'Q8|Q10|Q11|Q12|Q13|Q15|Q17|Q18|Q20|Q26|Q27_A|Q28|Q29|Q32_A|Q34_A|Q35|Q36_A|Q38_A|Q27_B|Q29_B|Q34_B|Q36_B|Q38_B'

    for col in df.columns:
        if re.findall(patron,col):
            columnas_eliminadas.append(col)
            
    eliminado = df.drop(columnas_eliminadas, axis=1)
    return eliminado

ABRIMOS Y EXPLORAMOS EL TXT

In [9]:
data_txt = pd.read_csv('../datos_modificados/data_txt_clean.txt', sep= ';')
data_txt.head(2)

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN

In [11]:
data_txt.columns

Index(['index', 'Q3', 'Q4', 'Q5', 'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20',
       'Q21', 'Q22', 'Q23', 'Q25', 'Q26', 'Q33', 'Q35', 'Q41', 'Q7', 'Q9',
       'Q12', 'Q14', 'Q16', 'Q17', 'Q24', 'Q32', 'Q34'],
      dtype='object')

ABRIMOS Y EXPLORAMOS EL XML

In [12]:
data_xml = pd.read_xml('../datos_modificados/data_xml_clean.xml')
data_xml.sample(5)

       level_0  index  time    age gender
11599    11599  11599  2251  40-44    Man
16634    16634  16634   997  25-29    Man
5398      5398   5398   481  55-59    Man
9524      9524   9524   499  18-21    Man
21186    21186  21186   289  40-44  Woman

In [15]:
eliminar_columnas(data_txt)

,index,Q3,Q4,Q5,Q6,Q21,Q22,Q23,Q25,Q33,Q41,Q7,Q9,Q14,Q16,Q24,Q32,Q34
0,0,India,Bachelor’s degree,Other,5-10 years,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret",None of these activities are an important par...,PostgreSQL,None
1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Matplotlib,Scikit-learn,Build and/or run the data infrastructure that...,NaN,NaN
2,2,Pakistan,Master’s degree,Software Engineer,1-3 years,"1000-9,999 employees",0,I do not know,$0-999,MySQL,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Matplotlib,NaN,None of these activities are an important par...,"MySQL , MongoDB",None
3,3,Mexico,Doctoral degree,Research Scientist,20+ years,"1000-9,999 employees",0,I do not know,"30,000-39,999",NaN,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",Matplotlib,"Scikit-learn , TensorFlow ,Keras",Do research that advances the state of the ar...,NaN,NaN
4,4,India,Doctoral degree,Other,< 1 years,50-249 employees,5-9,We use ML methods for generating insights (but...,"30,000-39,999",NaN,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook","Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM",Analyze and understand data to influence produ...,None,Microsoft Power BI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25968,25968,Egypt,Bachelor’s degree,Data Analyst,1-3 years,"10,000 or more employees",20+,We are exploring ML methods (and may one day p...,"15,000-19,999",MongoDB,"Business intelligence software (Salesforce, Ta...","Python, SQL, Javascript, Bash","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn","Scikit-learn , TensorFlow ,Keras ,PyTorch ,Xgb...",Analyze and understand data to influence produ...,"PostgreSQL , SQLite , MongoDB , Microsoft SQL...",Microsoft Power BI
25969,25969,China,Master’s degree,Student,1-3 years,NaN,NaN,NaN,NaN,NaN,NaN,Python,PyCharm,None,PyTorch,NaN,NaN,NaN
25970,25970,Sweden,Doctoral degree,Research Scientist,I have never written code,"1000-9,999 employees",20+,I do not know,$0-999,NaN,"Basic statistical software (Microsoft Excel, G...",NaN,NaN,NaN,NaN,None of these activities are an important par...,NaN,NaN
25971,25971,United States of America,Master’s degree,Data Scientist,5-10 years,"10,000 or more employees",20+,"We have well established ML methods (i.e., mod...",NaN,NaN,NaN,"Python, SQL","Notepad++,Jupyter Notebook","Matplotlib ,Seaborn",Scikit-learn,NaN,NaN,NaN
25972,25972,India,Bachelor’s degree,Business Analyst,I have never written code,0-49 employees,0,I do not know,$0-999,NaN,"Advanced statistical software (SPSS, SAS, etc.)",NaN,NaN,NaN,NaN,Analyze and understand data to influence produ...,NaN,NaN

In [16]:
eliminar_columnas(data_xml)

       level_0  index  time    age gender
0            0      0   910  50-54    Man
1            1      1   784  50-54    Man
2            2      2   924  22-24    Man
3            3      3   575  45-49    Man
4            4      4   781  45-49    Man
...        ...    ...   ...    ...    ...
25968    25968  25968  1756  30-34    Man
25969    25969  25969   253  22-24    Man
25970    25970  25970   494  50-54    Man
25971    25971  25971   277  45-49    Man
25972    25972  25972   255  18-21    Man

[25973 rows x 5 columns]

In [17]:
propiedades(data_txt)

El índice es RangeIndex(start=0, stop=25973, step=1)
----------------------
La forma es (25973, 27)
----------------------
El tamaño es 701271
----------------------
El tipo de dato es index     int64
Q3       object
Q4       object
Q5       object
Q6       object
Q8       object
Q11      object
Q13      object
Q15      object
Q20      object
Q21      object
Q22      object
Q23      object
Q25      object
Q26      object
Q33      object
Q35      object
Q41      object
Q7       object
Q9       object
Q12      object
Q14      object
Q16      object
Q17      object
Q24      object
Q32      object
Q34      object
dtype: object

In [18]:
propiedades(data_xml)

El índice es RangeIndex(start=0, stop=25973, step=1)
----------------------
La forma es (25973, 5)
----------------------
El tamaño es 129865
----------------------
El tipo de dato es level_0     int64
index       int64
time        int64
age        object
gender     object
dtype: object

In [19]:
data_txt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   25973 non-null  int64
 1   Q3      25973 non-null  object
 2   Q4      25973 non-null  object
 3   Q5      25973 non-null  object
 4   Q6      25973 non-null  object
 5   Q8      24829 non-null  object
 6   Q11     24461 non-null  object
 7   Q13     24403 non-null  object
 8   Q15     23754 non-null  object
 9   Q20     16325 non-null  object
 10  Q21     16251 non-null  object
 11  Q22     16126 non-null  object
 12  Q23     15952 non-null  object
 13  Q25     15391 non-null  object
 14  Q26     15183 non-null  object
 15  Q33     4656 non-null   object
 16  Q35     2237 non-null   object
 17  Q41     18489 non-null  object
 18  Q7      24941 non-null  object
 19  Q9      24934 non-null  object
 20  Q12     24582 non-null  object
 21  Q14     23970 non-null  object
 22  Q16     19624 non-null  object
 23  Q17     19315 non-null  object
 24  Q24     15635 non-null  object
 25  Q32     9484 non-null   object
 26  Q34     9399 non-null   object
dtypes: int64(1), object(26)
memory usage: 5.4+ MB

In [20]:
data_xml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   level_0  25973 non-null  int64
 1   index    25973 non-null  int64
 2   time     25973 non-null  int64
 3   age      25973 non-null  object
 4   gender   25973 non-null  object
dtypes: int64(3), object(2)
memory usage: 1014.7+ KB

In [24]:
data_txt.set_index(["index"], inplace = True)

In [25]:
data_xml.set_index(["index"], inplace = True)

In [27]:
df_join = data_xml.join(data_txt, on ="index")

In [28]:
df_join.sample(5)

,level_0,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
24434,24434,705,50-54,Man,Germany,Bachelor’s degree,Software Engineer,20+ years,Python,A personal computer / desktop,Never,2-3 years,Accounting/Finance,0-49 employees,0,No (we do not use ML methods),"70,000-79,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, SQL, Java, Javascript, Bash, Other","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",NVIDIA GPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,D3 js","Scikit-learn ,Xgboost","Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,Microsoft SQL Server,None
9048,9048,307,18-21,Woman,Viet Nam,Bachelor’s degree,Student,< 1 years,Python,A laptop,Never,I do not use machine learning methods,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Python, R","Spyder,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Plotly / Plotly Express",NaN,NaN,NaN,NaN,NaN
11225,11225,1192,25-29,Man,Japan,Bachelor’s degree,Machine Learning Engineer,5-10 years,Java,A laptop,Never,1-2 years,Computers/Technology,"1000-9,999 employees",20+,We are exploring ML methods (and may one day p...,"50,000-59,999",$100-$999,Microsoft SQL Server,NaN,"Local development environments (RStudio, Jupyt...","Python, R, Java","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",NVIDIA GPUs,"Matplotlib ,Seaborn","Scikit-learn , TensorFlow ,Keras ,PyTorch ,Xgb...","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,"Oracle Database , Microsoft SQL Server , Amaz...",None
8221,8221,779,22-24,Man,India,Bachelor’s degree,Data Scientist,3-5 years,Python,"A deep learning workstation (NVIDIA GTX, Lambd...",Never,3-4 years,Computers/Technology,0-49 employees,3-4,"We recently started using ML methods (i.e., mo...","7,500-9,999",$100-$999,Microsoft Azure SQL Database,NaN,"Basic statistical software (Microsoft Excel, G...","Python, R, SQL, Other","Visual Studio Code (VSCode) , Spyder, Sublime ...","NVIDIA GPUs , Other","Matplotlib ,Seaborn ,Plotly / Plotly Express ...","Scikit-learn , TensorFlow ,Keras ,PyTorch ,Xgb...","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,"MySQL , PostgreSQL , SQLite , Snowflake , Micr...",None
18140,18140,139,50-54,Man,United States of America,Master’s degree,Product Manager,20+ years,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Python, C, Java, Bash","Visual Studio Code (VSCode) , Sublime Text, Vi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df_join.drop(["level_0","time"], axis = 1, inplace = True)
df_join.head()

,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN
2,22-24,Man,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,"1000-9,999 employees",0,I do not know,$0-999,$0 ($USD),MySQL,NaN,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None
3,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,Academics/Education,"1000-9,999 employees",0,I do not know,"30,000-39,999",$0 ($USD),NaN,NaN,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Do research that advances the state of the ar...,NaN,NaN
4,45-49,Man,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,Academics/Education,50-249 employees,5-9,We use ML methods for generating insights (but...,"30,000-39,999","$1000-$9,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI

In [31]:
df_join["Q33"].unique

<bound method Series.unique of index
0             NaN
1             NaN
2          MySQL
3             NaN
4             NaN
           ...
25968    MongoDB
25969         NaN
25970         NaN
25971         NaN
25972         NaN
Name: Q33, Length: 25973, dtype: object>

In [33]:
df_join["Q33"].isnull().sum()

21317

In [34]:
df_join.isnull().sum()

age           0
gender        0
Q3            0
Q4            0
Q5            0
Q6            0
Q8         1144
Q11        1512
Q13        1570
Q15        2219
Q20        9648
Q21        9722
Q22        9847
Q23       10021
Q25       10582
Q26       10790
Q33       21317
Q35       23736
Q41        7484
Q7         1032
Q9         1039
Q12        1391
Q14        2003
Q16        6349
Q17        6658
Q24       10338
Q32       16489
Q34       16574
dtype: int64